
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.Hamburger {
    background-color: #333;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul li {
    display: inline;
    margin-right: 20px;
}

.ul li a {
    text-decoration: none;
    color: white;
}

.chatbot-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}


.conversation {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}


#input-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

#input-field {
    flex-grow: 1;
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
}

#submit-button {
    background-color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.send-icon {
    width: 20px;
    height: 20px;
    color: white;
}

/* Style the footer */
.abc {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about, .follow-us, .trending {
    flex: 1;
    margin-right: 20px;
}

.social-icons a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
